<launch>

<group ns="position_control">
    <node name="PID" pkg="pid" type="controller" output="screen" >
      <param name="node_name" value="steering_pid" />
      <param name="Kp" value="25.0" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="7.3" />
      <param name="upper_limit" value="1200" />
      <param name="lower_limit" value="-1200" />
      <param name="windup_limit" value="100" />
      <param name="max_loop_frequency" value="50.0" />
      <param name="min_loop_frequency" value="50.0" />
     </node>

    <node name="Planner" pkg="servo_pid" type="planner.py" output="screen" >
    </node>

    <node name="State_Estimate" pkg="state_estimate" type="state_publisher.py" output="screen">
    </node>

    <node name="Control_Effort" pkg="pololupub" type="pololupub.py" output="screen">
    </node>

</group>

</launch>
