<launch>

<group ns="PID_Corner">
    <node name="PID_Corner" pkg="pid" type="controller" output="screen" >
      <param name="node_name" value="steering_pid" />
      <param name="Kp" value="25.0" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="7.3" />
      <param name="upper_limit" value="1200" />
      <param name="lower_limit" value="-1200" />
      <param name="windup_limit" value="100" />
      <param name="max_loop_frequency" value="50.0" />
      <param name="min_loop_frequency" value="50.0" />
      <remap from="/PID_Corner/control_effort" to="/ce_corner"/>
      <remap from="/PID_Corner/setpoint" to="/setpoint" />
      <remap from="/PID_Corner/state" to="/state" />
     </node>
</group>

<group ns="PID_Straight">
    <node name="PID_Straight" pkg="pid" type="controller" output="screen" >
      <param name="node_name" value="steering_pid" />
      <param name="Kp" value="5.0" />
      <param name="Ki" value="0.0" />
      <param name="Kd" value="1.0" />
      <param name="upper_limit" value="1200" />
      <param name="lower_limit" value="-1200" />
      <param name="windup_limit" value="100" />
      <param name="max_loop_frequency" value="50.0" />
      <param name="min_loop_frequency" value="50.0" />
      <remap from="/PID_Straight/control_effort" to="/ce_straight"/>
      <remap from="/PID_Straight/setpoint" to="/setpoint" />
      <remap from="/PID_Straight/state" to="/state" />
     </node>
</group>

<node name="State_Machine" pkg="servo_pid" type="state_machine.py" output="screen" >
  <remap from="state" to="/state" />
  <remap from="ce_corner" to="/ce_corner" />
  <remap from="ce_straight" to="/ce_straight" />
</node>

<node name="Setpoint" pkg="servo_pid" type="planner.py" output="screen" >
  <remap from="setpoint" to="/setpoint" />
</node>

<node name="State_Estimate" pkg="state_estimate" type="state_publisher.py" output="screen">
  <remap from="state" to="/state" />
</node>

<node name="Pololu_Publisher" pkg="pololupub" type="pololupub.py" output="screen">
  <rempa from="control_input" to="/control_input" />
</node>

</launch>
